{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": ["warn", "never"],
    "@typescript-eslint/semi": ["warn", "never"],
    "quotes": ["error", "single"],
    "@typescript-eslint/member-delimiter-style": "off"
  }
}
